{% extends 'base.html' %}

{% block content %}
<style>
    .blog_container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 2px 2px 5px #ccc;
  background-color: #fff;
}

/* .blog_container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
} */

.blog_container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
</style>
<div class="blog_container">
  <h1>{{ blog.title }}</h1>
  <hr>
  <br>
  <p>{{ blog.content }}</p>
</div>
{% endblock %}
